<%= form_tag(study_plan_add_course_path(@study_plan), id: 'course_form', remote: true)  do %>
  <%= select_tag(:course_id, options_for_select(@courses.map { |c| [c.name, c.id] }), include_blank: true, class: 'chosen-select') %>
<% end %>

<ul id='selected_courses'>
  <% @study_plan.courses.each do |course| %>
    <%= render partial: 'course', locals: { course: course } %>
  <% end %>
</ul>

<table>
  <tr>
    <% for day in Lesson::DAYS do %>
      <td>
        Giorno: <%= day %>
        <table>
          <% for hour in Lesson::HOURS do %>
            <tr>
              <% for col in @timetable.columns do %>
                <td>
                  Ora: <%= hour %></br>
                  Colonna: <%= col %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </td>
    <% end %>
  </tr>
</table>
