<nav>
  <div class='courses'>
    <div class='course-select'>
      <%= form_tag(study_plan_add_course_path(@study_plan), id: 'course_form', remote: false) do %>
        <div class='row collapse'>
          <div class='small-10 columns'>
            <%= label_tag :corso_di_laurea %>
            <%= select_tag(:degree_id, options_for_select(Degree.all.map { |d| [d.full_name, d.id] }), include_blank: true, class: 'chosen-select-degree') %>
          </div>

          <div class='small-2 columns'>
            <%= label_tag :anno %>
            <%= select_tag(:year, options_for_select([1,2,3]), include_blank: true, class: 'chosen-select-year') %>
          </div>
        </div>

        <div class='row' id='course-select-container'>
          <%= render partial: 'course_select' %>
        </div>
      <% end %>
    </div>

    <ul id='selected-courses'>
      <% @study_plan.courses.each do |course| %>
        <%= render partial: 'course', locals: { course: course } %>
      <% end %>
    </ul>
  </div>
</nav>

<div class='timetable-container'>
  <%= render partial: 'timetable', locals: { timetable: @timetable } %>
</div>
